## Author: Joseph Vargovich

In [2]:
#Import libraries
import pandas as pd
import numpy as np

# Exercise 1 - Table for gender and year combinations.

In [14]:
#a. Load the data, na_values in the list will be removed. '' and ' ' are na values now.
Survey = pd.read_csv("http://www.lock5stat.com/datasets/StudentSurvey.csv", na_values=['', ' '])
Survey.head()

#b. Cleanup and select what we need. 
Survey = Survey[['Year', 'Gender']]

#Grab the amount of Female and Male Students in each Year. 
# Groupby will convert our dataframe into a Series object, ugh! 
Survey = Survey.groupby(['Gender', 'Year']).size()

#Convert our Series back to a dataframe.
Survey = Survey.to_frame(name = 'n').reset_index()
print(Survey)

#Create a pivot table
pivotTable = Survey.pivot(index='Gender', columns='Year', values='n')
#Set the column order
pivotTable = pivotTable[['FirstYear', 'Sophomore', 'Junior', 'Senior']]
#Set the row order
pivotTable.reindex(["M", "F"]).head()

  Gender       Year   n
0      F  FirstYear  43
1      F     Junior  18
2      F     Senior  10
3      F  Sophomore  96
4      M  FirstYear  51
5      M     Junior  17
6      M     Senior  26
7      M  Sophomore  99

Year    FirstYear  Sophomore  Junior  Senior
Gender
M              51         99      17      26
F              43         96      18      10

## Exercise 3 - Working with two simple data sets.

In [71]:
ADict = {'Name': ["Alice", "Bob", "Charlie"], 'Car': ["Ford F150", "Tesla Model III", "VW Bug"]}
BDict = {'First.Name': ["Bob", "Charlie", "Alice"], 'Pet': ["Cat", "Dog", "Rabbit"]}

A = pd.DataFrame(data=ADict)
print(A)
B = pd.DataFrame(data=BDict)

#a. Join together with pd.concat and join options.
#Concat (like cbind on axis=1)
result = pd.concat([A, B], axis=1, sort=False)
print("\na. Concatted Tables: \n" )
print(result)

result = A.merge(B, how='left',left_on='Name', right_on='First.Name')
print("\na. Joined Tables: \n" )
print(result)

#b. Add row for Alice's guinea pig to A
guineaDict = {'First.Name': ["Alice"], 'Pet': ["Guinea Pig"]}
guineaDf = pd.DataFrame(guineaDict)
B = pd.concat([B, guineaDf], axis=0, sort=False)
print("\nb. Table B with new entry: \n" )
print(B)

#c. Combine the new dataframes together using concat and join. 
#Using concat without join logic, shaping errors will occur.
placeholderDict = {'Name': [None], 'Car' : [None]}
placeholderDf = pd.DataFrame(placeholderDict)
A = pd.concat([A,placeholderDf], axis=0, sort=True)
result = pd.concat([A, B], axis=1, sort=False) #This will error unless we add an None row to A.
print("\nc. Concatted Tables: \n" )
print(result)

#Using join, we can join with different shapes.
result = A.merge(B, how='left',left_on='Name', right_on='First.Name')
print("\nc. Joined Tables: \n" )
print(result)

      Name              Car
0    Alice        Ford F150
1      Bob  Tesla Model III
2  Charlie           VW Bug

a. Concatted Tables:

      Name              Car First.Name     Pet
0    Alice        Ford F150        Bob     Cat
1      Bob  Tesla Model III    Charlie     Dog
2  Charlie           VW Bug      Alice  Rabbit

a. Joined Tables:

      Name              Car First.Name     Pet
0    Alice        Ford F150      Alice  Rabbit
1      Bob  Tesla Model III        Bob     Cat
2  Charlie           VW Bug    Charlie     Dog

b. Table B with new entry:

  First.Name         Pet
0        Bob         Cat
1    Charlie         Dog
2      Alice      Rabbit
0      Alice  Guinea Pig

c. Concatted Tables:

               Car     Name First.Name         Pet
0        Ford F150    Alice        Bob         Cat
1  Tesla Model III      Bob    Charlie         Dog
2           VW Bug  Charlie      Alice      Rabbit
0             None     None      Alice  Guinea Pig

c. Joined Tables:

               Car     Name First.Name         Pet
0        Ford F150    Alice      Alice      Rabbit
1        Ford F150    Alice      Alice  Guinea Pig
2  Tesla Model III      Bob        Bob         Cat
3           VW Bug  Charlie    Charlie         Dog
4             None     None        NaN         NaN

In [26]:
#Dictionaries that define two pandas dataframes and their column->values mapping.
firstDict = {'Name': ["Alice", "Bob", "Charlie"], 'Car': ["Ford F150", "Tesla Model III", "VW Bug"]}
secondDict = {'First.Name': ["Bob", "Charlie", "Alice"], 'Pet': ["Cat", "Dog", "Rabbit"]}

firstDf = pd.DataFrame(data=firstDict)
print("First Dataframe")
print(firstDf)
print("\n\n")

secondDf = pd.DataFrame(data=secondDict)
print("Second Dataframe")
print(secondDf)
print("\n\n")

First Dataframe
      Name              Car
0    Alice        Ford F150
1      Bob  Tesla Model III
2  Charlie           VW Bug



Second Dataframe
  First.Name     Pet
0        Bob     Cat
1    Charlie     Dog
2      Alice  Rabbit

In [21]:
#a. Join together with pd.concat and join options.
#Concat (like cbind on axis=1)
concatResult = pd.concat([firstDf, secondDf], axis=1, sort=False)
print("\n1. Concatted Tables: \n" )
print(concatResult)

#Same as above but using a LEFT JOIN operation
joinResult = firstDf.merge(secondDf, how='left',left_on='Name', right_on='First.Name')
print("\na. Joined Tables: \n" )
print(joinResult)

1. Concatted Tables:

      Name              Car First.Name     Pet
0    Alice        Ford F150        Bob     Cat
1      Bob  Tesla Model III    Charlie     Dog
2  Charlie           VW Bug      Alice  Rabbit

a. Joined Tables:

      Name              Car First.Name     Pet
0    Alice        Ford F150      Alice  Rabbit
1      Bob  Tesla Model III        Bob     Cat
2  Charlie           VW Bug    Charlie     Dog